* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

.hero {
	background-size: 100%;
	position:relative;
	height:680px;
	background: url(../img/header.jpg);
  	background-size: cover;
	background-repeat: no-repeat;
    color:#FFFFFF;
    background-position:center;
}


/*-------------nav-----------*/

header .fixed{
	position:fixed;
	background: transparent;
	width: 100%;
  	left:0;
  	z-index:10;
  	border-bottom:1px solid rgba(255,255,255, 0.3) ;
  	background:rgba(255,255,255, 0.3);
}

@media (max-width: 600px) {
  header .fixed {
    background-color:white;
  }
}

.port a:hover{
   margin-top:5px; 
   text-decoration:none;
}

@media (max-width: 600px) {
  .port {
     margin-top:10px;
     text-decoration:none;
  }
}

.logos {
	text-decoration:none;
	color: rgba(255,255,255, 0.3);
    padding: 6px 11px 4px 3px;
    font-size: 13px;
    font-weight:bold;
}


.logos:hover{
	text-decoration:none;
	color:white;
    font-size: 14px;
    font-weight:bold;
}  

.logos:focus{
    text-decoration:none;
    color: white;
}

@media (max-width: 600px) {
  .logos {
     color: #F05F40;
     font-weight:bold;
     text-decoration:none;
  }
}

@media (max-width: 600px) {
  .logos:hover {
     text-decoration:none;
     color:gray;
  }
}

@media (max-width: 600px) {
  .logos:focus {
     text-decoration:none;
     color:#F05F40;
  }
}






  
	

.navbar-default .navbar-toggle{
	
	margin-left: 20px;
    border-color:1px solid gray;
}
.navbar{
	margin-bottom:0px;
	min-height:auto;
}

.navbar-default{
	background-color: transparent;
	border-color:transparent;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255, 0.6);
    padding: 6px 11px 4px 3px;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
}



@media (max-width: 600px) {
.navbar-default .navbar-nav > li > a {
     color: #F05F40;
     font-weight:bold;
     text-align:center;
     text-decoration:none;
  }
}


.navbar-default .navbar-nav > li > a:hover{
	background-color: transparent;
	color:  #F05F40 ;
	font-weight: bold;
	
	
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
}	

.navbar-default .navbar-toggle .icon-bar {
    background-color: gray;
    padding-bottom: 5px;
}

button.navbar-toggle{
    margin-top: 0px;
    padding-top: 5px;
    
}


/*-------------titulo--------------*/

 h1{
	font-size: 40px !important; 
	font-weight: bold;
	padding-top:32%;
}

.line{
	
	width: 6%;
	margin:auto;
	margin-bottom:3%;
}

.orange{
	border-bottom: 3px solid #F05F40;
}

.white {
	border-bottom: 3px solid white;
}	
.conocemas {
    margin-top: 30px;
}
/*-------------sobremi------------------*/
#sobremi{
	color:white;
}



/*----------------Servicios------------------*/
* {
    font-family: "Open Sans", sans-serif;
}
#servicios {
    padding: 2% 0;
}
.subrayado {
    width: 42px;
    height: 3px;
    margin: auto;
    border: 1px solid transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}
.marco-servicio {
    width: 90%;
    margin: auto;
}
.servicio {
    margin-top: 30px;
    text-align: center;
}
#servicios i {
     font-size: 40px;   
}
#servicios h2 {
    font-size: 25px;
}
#servicios h3 {
    font-size: 18px;
}
#servicios p {
    font-size: 12px;
}
@media only screen and (min-width : 320px) {
        
}
@media only screen and (min-width : 480px) {
    .marco-servicio {
        width: 80%;
    }
}
@media only screen and (min-width : 768px) {
    .marco-servicio {
        width: 70%;
    }
}
/*--------------Mis Trabajo--------------------*/
.proyecto {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
 }
.proyecto img {
    width: 100%;
    height: 100%;
}
 .transparencia {
        display: none;
        position: absolute;
        background: rgba(240, 95, 64, 0.6);
        bottom: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        color: white;
        padding: 25%;
}
.proyecto:hover .transparencia {
        display: block;
}
.transparencia2 {
    float: left;
    position: absolute;
    background: rgba(240, 95, 64, 0.6);
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: white;
    padding: 25%;
}
    
#mistrabajos p {
    font-size: 18px;
}
.categoria {
    color: #FED6CD;
    font-weight: 600;
    font-size: 14px !important;
    margin-bottom: 0;
}
.pd-esp {
    padding-top: 12%;
    padding-bottom: 12%;
    
}

@media only screen and (min-width : 320px) {
        
}
@media only screen and (min-width : 480px) {
    .pd-esp {
        padding-top: 4%;
        padding-bottom: 4%;
    }
}

@media only screen and (min-width : 768px) {
    .transparencia2: {
        display: none;
    }
}
/*---------------Contáctame-------------------*/
#contactame h2 {
    font-size: 25px;
}
#contactame p:first-child {
    font-size: 12px;
    width: 40%;
    margin:  2% auto;
}
#contactame i {
    font-size: 40px;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 15px;
}
#contactame a:hover, #contactame a:focus {
    text-decoration: none;
    color: #F05F40;
}
@media only screen and (min-width : 320px) {
        
}
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

/*----------------------------------*/
