






















































































































/*----------------Servicios------------------*/
* {
    font-family: "Open Sans", sans-serif;
}
#servicios {
    padding: 2% 0;
}
.subrayado {
    width: 40px;
    height: 2px;
    margin: auto;
    border: 1px solid #F05F40;
}
.marco-servicio {
    width: 90%;
    margin: auto;
}
.servicio {
    margin-top: 30px;
    text-align: center;
}
#servicios i {
     font-size: 35px;   
}
#servicios h2 {
    font-size: 25px;
}
#servicios h3 {
    font-size: 18px;
}
#servicios p {
    font-size: 12px;
}
@media only screen and (min-width : 320px) {
        
}
@media only screen and (min-width : 480px) {
    .marco-servicio {
        width: 80%;
    }
}
@media only screen and (min-width : 768px) {
    .marco-servicio {
        width: 70%;
    }
}
/*--------------Mis Trabajo--------------------*/
.proyecto {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
 }
.proyecto img {
    width: 100%;
    height: 100%;
}
.transparencia {
    display: none;
    position: absolute;
    background: rgba(240, 95, 64, 0.6);
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: white;
    padding: 25%;
}
.proyecto:hover .transparencia {
    display: block;
}
#mistrabajos p {
    font-size: 18px;
}
.categoria {
    color: #FED6CD;
    font-weight: 600;
    font-size: 14px !important;
    margin-bottom: 0;
}
.pd-esp {
    padding-top: 10%;
    padding-bottom: 10%;
}

@media only screen and (min-width : 320px) {
        
}
@media only screen and (min-width : 480px) {
    .pd-esp {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@media only screen and (min-width : 768px) {

}

/*---------------Contáctame-------------------*/
#contactame h2 {
    font-size: 25px;
}
#contactame p:first-child {
    font-size: 12px;
    width: 40%;
    margin:  2% auto;
}
#contactame i {
    font-size: 30px;
    color: #333333;
}
#contactame a:hover {
    text-decoration: none;
    color: #F05F40;
}
@media only screen and (min-width : 320px) {
        
}
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

/*----------------------------------*/



















